body {
    border: 5px solid black;
    border-radius: 8px;
}

#title-bar, #task-header{
    background-color: #2222AA;
    color: whitesmoke;
    text-shadow: 2px 2px 4px black;
    font-size: 3em;
    border-bottom: 5px solid black;
    display: flex;
    justify-content: center;
    flex: 1;
    text-align: center;
    padding: 20px 0 20px 0;
}

#user-input {
    display: flex;
    justify-content: flex-start;
    flex: 1;
    padding: 20px 10px 20px 10px;
    background-color: #CCCCCC;
}

#user-input input[type=text] {
    border-radius: 4px;
    background-color: #CCCCCC;
    text-shadow: 2px 2px 4px #999999;
    font-size: 2em;
    border: 2px solid #000000;
    margin: 0 3% 0 3%;
    flex: 2;
    text-align: center;
}

#task-list-div {
    display: flex;
    flex-direction: column;
    background-color: #CCCCCC;
    height: 100vh;
    padding: 20px 30px 20px 30px;
    text-align: center;
    align-items: center;
}

#task-list-div li {
    background-color: #2222AA;
    color: whitesmoke;
    text-shadow: 1px 1px 1px black;
    font-size: 1.5em;
    border: 2px solid black;
    order: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 4px;
    padding: 10px 0 10px 0;
}

#task-list-div li * {
    padding: 0 5px 0 5px
}